*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  align-items: center;
  background-image: linear-gradient(180deg, #bdd4e7 0%, #8693ab 100%);
  height: 100vh;
  font-size: 1rem;
  color: #8693ab;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #454a54;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  background-color: #fafafa;
  border-radius: 1.5rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.125rem;
  min-width: 280px;
  border-right: 1px solid #8693ab;
}
.sidebar .logo {
  font-size: 1.5rem;
  margin-bottom: 70px;
}
.sidebar .menu-item {
  height: 2.5rem;
  display: flex;
  align-items: center;
  text-align: left;
}
.sidebar .menu-item i {
  margin-right: 0.75rem;
}
.sidebar .active {
  color: #454a54;
}

.main {
  padding: 3.125rem 3.125rem 0 1.5rem;
}
.main .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.5rem;
}
.main .header .search-bar {
  background-color: #fff;
  padding: 0 1rem;
  border-radius: 0.5rem;
  width: 50%;
}
.main .header .search-bar input {
  border: none;
  background: transparent;
  padding: 0.5rem 1rem;
  outline: none;
  width: 90%;
  height: 2.5rem;
}
.main .header .profile {
  display: flex;
  align-items: center;
  color: #454a54;
}
.main .header .profile .profile-name {
  margin-right: 0.2rem;
  font-size: 0.875rem;
}
.main .header .profile .profile-img {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 1rem;
}
.main .header .profile .profile-img img {
  width: 100%;
  height: 100%;
}
.main .main-content .title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}
.main .main-content .bars {
  display: flex;
}
.main .main-content .bars .project-bar {
  width: 33%;
  background-color: #f0f4f8;
  padding: 1.5rem;
  border-radius: 1rem 1rem 0 0;
}
.main .main-content .bars .project-bar:nth-child(2) {
  margin: 0 1rem;
}
.main .main-content .bars .project-bar .project-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main .main-content .bars .project-bar .project-top .project-title {
  font-weight: 600;
}
.main .main-content .bars .project-bar .project-top .project-number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: bold;
  border-radius: 0.25rem;
  width: 20px;
  height: 20px;
  background-color: #bdd4e7;
  color: #454a54;
}
.main .main-content .bars .project-bar .project-add-btn {
  width: 100%;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: #bdd4e7;
  margin: 1rem 0;
}
.main .main-content .bars .project-bar .project-card {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}
.main .main-content .bars .project-bar .project-card .card-title {
  font-weight: 500;
  height: 1.25rem;
  margin-bottom: 0.75rem;
}
.main .main-content .bars .project-bar .project-card .card-desc {
  font-size: 0.875rem;
}

/*# sourceMappingURL=style.css.map */
