.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.125rem;
  min-width: 280px;
  border-right: 1px solid $text-color;
  .logo {
    font-size: $fs-l;
    margin-bottom: 70px;
  }

  .menu-item {
    height: 2.5rem;
    display: flex;
    align-items: center;
    text-align: left;
    i {
      margin-right: 0.75rem;
    }
  }
  .active {
    color: $title-color;
  }
}
