// COLORS
$text-color: #8693ab;
$title-color: #454a54;
$base-color: #fafafa;
$bar-color: #f0f4f8;
$btn-color: #f0f4f8;
$bg-gradient: linear-gradient(180deg, #bdd4e7 0%, #8693ab 100%);
$white: #fff;
$black: #000;

// FONT SIZES
$fs-xs: 0.75rem;
$fs-s: 0.875rem;
$fs-m: 1rem;
$fs-l: 1.5rem;
